.container{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 auto;
    padding: 1px 0;
    
    /* border: 1px solid black; */
}
.container>*{
    margin-top: 20px;
}
.dynamicdiv{
    border: 1px solid black;
    /* padding: 10px; */
    position: absolute;
    /* margin: 1%; */
    width: 180px;
    height: 30px;
}


